.container{
    width: 350px;
    border: 2px solid gray;
    border-radius: 15px;
    background-color: lightblue;
}
 .grid{
    display: flex;
    justify-content: space-around;
 }
 .btnClose{
    float: right;
    background-color: red;
    color: black;
    border: 1px solid darkred;
    border-radius: 3px;
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;

 }
 .btnClose:hover{
    background-color: white;
    color: black;
 }